#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Flat-button-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d #s-Flat-button-light_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-af6afbfe-f864-4bb8-bf0c-4b2b2d98762d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}