#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #6EFFFE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #6EFFFE;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #6EFFFE;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #6EFFFE;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 348px;
  height: 167px;
  -ms-transform: rotate(0.0deg);
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #6EFFFE;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #6EFFFE;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #6EFFFE;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #6EFFFE;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 348px;
  height: 167px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}