#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d64d7cb3-1438-4946-8e4f-62edba819c91 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}