#s-db4e77d3-a340-4907-ab2f-885b19ef5cf3 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-db4e77d3-a340-4907-ab2f-885b19ef5cf3 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-db4e77d3-a340-4907-ab2f-885b19ef5cf3 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-db4e77d3-a340-4907-ab2f-885b19ef5cf3 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-db4e77d3-a340-4907-ab2f-885b19ef5cf3 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-db4e77d3-a340-4907-ab2f-885b19ef5cf3 #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-db4e77d3-a340-4907-ab2f-885b19ef5cf3 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-db4e77d3-a340-4907-ab2f-885b19ef5cf3 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-db4e77d3-a340-4907-ab2f-885b19ef5cf3 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-db4e77d3-a340-4907-ab2f-885b19ef5cf3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}