#s-f486f0c9-ccce-4c51-90d8-3aca668b4842 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f486f0c9-ccce-4c51-90d8-3aca668b4842 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f486f0c9-ccce-4c51-90d8-3aca668b4842 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f486f0c9-ccce-4c51-90d8-3aca668b4842 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f486f0c9-ccce-4c51-90d8-3aca668b4842 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f486f0c9-ccce-4c51-90d8-3aca668b4842 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f486f0c9-ccce-4c51-90d8-3aca668b4842 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f486f0c9-ccce-4c51-90d8-3aca668b4842 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f486f0c9-ccce-4c51-90d8-3aca668b4842 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}